@import url('https://unpkg.com/css.gg@2.0.0/icons/css/list.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/user-add.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/import.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/log-out.css');

body {
    font-family: Helvetica ;
}

.left-align-cont {
    flex-direction: column;
    align-items: left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.base-logo {
    width: 60px;
    height: auto;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.base-logo img {
    width: 100%;
    height: auto;
}

.left-align-cont {
    flex-direction: column;
    align-items: left;
}

.base-header {
    background-color: #00802B;
    color: white;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif; 
    padding: 16px 16px 16px;   
    display: flex;
    justify-content: space-between;
}


/* NOT WORKING */
.logo-padding {
    /* padding-right: 10px; */
    margin-right: 10px;
}

.user-identifier {
    font-size: 18px;
    text-transform:none;
    align-items: center;
    display: flex;
    margin-right: 20px;
}

.user-identifier p {
    margin-bottom: unset;
}

.user-identifier b {
    text-transform: capitalize;
}

.column-direction {
    flex-direction: column;
    align-items: center;
}

.base-header-align {
    display: flex;
    margin-left: 5px;
}

.base-name-align {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.base-name-align h2 {
    display: inline;
}

.sidebar {
    height: 100%;
    width: 85px;
    position: fixed;
    top: 102.4;
    left: 0;
    background-color: #461E0A;
    color: white;

    z-index: 1;
    overflow-x: hidden;
}
    
.sidebar-button {
    padding: 8px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.sidebar-button:hover {
    background-color: #2C1206;
    color: white;
}

.sidebar p {
    font-size: 12px;
    text-align: center;

}

.sidebar-icon-placing {
    display: flex;
    justify-content: space-between;
    height: 82%;
}

.sidebar a { 
    text-decoration: none;
    color: white;
} 

.sidebar-hover:hover {
    background-color: #2C1206;
    color: white;
}

.icon-align {
    width: 100%;
    align-items: center;
}

.main {
    margin-left: 85px;
}

.search-and-add-cont {
    margin: 30px 50px 0px;
    display: flex;
    /* flex-direction: column; */
    justify-content:  space-between;
}

.search-and-add-cont button {
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px 10px;
}

.searchbar {
    width: 78%;
    
}

.searchbar input {
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px 10px;
    margin-right: 20px;
    width: 100%;
    height: 100%;
}

.login-borders {
    border-radius: 4px;
}

.add-profile-button {
    width: 200px;
    height: 50px;
    background-color: #00802B;
    color: white;
}