{% load static %}

<!doctype html>
<head>
<!-- <title> Base Template </title> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="icon" href="{% static 'images/topc_logo.png' %}" sizes="9x16">
</head>
<body>
    <div id="topbar">
        <a href="#"><img src="{% static 'images/topc_logo.jpg' %}" class="img logo rounded-circle mb-5" style="height: 50px; width: 50px;"></a>
        <div id="topbar-text">
            <h4>Thousand Oaks Packaging Corporation</h4>
            <h2>Employee Performance</h2>
        </div>
    </div>

    <!-- Page Content  -->
            {% block content %}
            {% endblock %}
</body>
<footer>
    <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script></p>
</footer>
</html>