<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}"/>
</head>
<body>
    {% block content %}
    <div class="login-box">
        <div class="login-logo">
            <b>Voting System</b>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form method="POST" action="{% url 'loginpage' %}">{% csrf_token %}
                <div class="form-group has-feedback"></div>
                <label for="username">Username: </label>
                <input type="text" name="username" id="username">
                </div>
                <br>
                <div>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password">
                </div>
                <br>
                <input type="submit">
            </form>
            

            <a href="{% url 'createaccount' %}"><button>SIGN UP HERE</button></a>
        </div>
    </div>
    {% endblock content %}
</body>
</html>