<table>
    <thead>
        <tr>
            <th>SR No</th>
            <th>Employee Name</th>
            <th>Date</th>
            <th>Prod Score</th>
            <th>Total Work Hrs</th>
            <!-- add more headers for additional fields -->
        </tr>
    </thead>
    <tbody>
        {% for row in csv_data %}
            <tr>
                <td>{{ row.sr_no}}</td>
                <td>{{ row.employee_name}}</td>
                <td>{{ row.date}}</td>
                <td>{{ row.prod_score }}</td>
                <td>{{ row.totalworkhrs }}</td>
                <!-- add more cells for additional fields -->
            </tr>
        {% endfor %}
    </tbody>
</table>
